<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charSet="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
    <body class="body">
        <div id='app'></div>
    </body>
</html>
